node_modules
**/node_modules
**/.next
**/.next/cache
**/dist
**/.turbo
**/out
**/build
**/coverage
uploads
.env
.env.local
.env.*.local
*.log
.DS_Store
.git
.github
.vscode
.idea
**/*.log
apps/pwa/.vercel
apps/admin/.vercel
